@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options and Buttons</title>
</head>
<body>
    <script type="text/javascript" src="/js/xapi-statement.js"></script>
    <h1>Select an Option</h1>
    <ul>
        <li>
            <label for="option1">Option 1</label>
            <input type="radio" id="option1" name="options" value="Option 1">
            <button onclick="sendStatement('Pavan Kumar Rapolu' ,'rapolu.pavan774@gmail.com',' answered','http://adlnet.gov/expapi/verbs/answered','Option 1','https://example.com/option-1')">Select</button>
        </li>
        <li>
            <label for="option2">Option 2</label>
            <input type="radio" id="option2" name="options" value="Option 2">
            <button onclick="sendStatement('Pavan Kumar Rapolu','rapolu.pavan774@gmail.com',' answered','http://adlnet.gov/expapi/verbs/answered','Option 2','https://example.com/option-2')">Select</button>
        </li>
        <li>
            <label for="option3">Option 3</label>
            <input type="radio" id="option3" name="options" value="Option 3">
            <button onclick="sendStatement('Pavan Kumar Rapolu','rapolu.pavan774@gmail.com',' answered','http://adlnet.gov/expapi/verbs/answered','Option 3','https://example.com/option-3')">Select</button>
        </li>
        <li>
            <label for="option4">Option 4</label>
            <input type="radio" id="option4" name="options" value="Option 4">
            <button onclick="sendStatement('Pavan Kumar Rapolu','rapolu.pavan774@gmail.com',' answered','http://adlnet.gov/expapi/verbs/answered','Option 4','https://example.com/option-4')">Select</button>
        </li>
        <li>
            <label for="option5">Option 5</label>
            <input type="radio" id="option5" name="options" value="Option 5">
            <button onclick="sendStatement('Pavan Kumar Rapolu','rapolu.pavan774@gmail.com',' selected','http://adlnet.gov/expapi/verbs/answered','Option 5','https://example.com/option-5')">Select</button>
        </li>
    </ul>

    <p id="selectedOption"></p>

    <script type="text/javascript" src="/js/xapiwrapper.min.js"></script>

</body>
</html>




